<div class="container-narrow">

<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li id="menuHome" class="active"><a (click)="setActive('menuHome')" [routerLink]="['/home']">Home</a></li>
    <li id="menuAdd"><a (click)="setActive('menuAdd')" [routerLink]="['/add']">Add</a></li>
  </ul>
  <h3 class="muted">PROFILE</h3>
</div>

</div>