<div class="edit">
  <div class="container-narrow">
	<div class="panel panel-primary panel-input">
		<div class="panel-heading">Edit Student</div>
		<div class="panel-body">
			<form class="form-horizontal" #editProfileForm="ngForm" (submit)="updateProfile()">
				<div class="col-md-4">
					<image-upload
						[max]="1"
  						[buttonCaption]="'Załadować nowy obraz!'"
  						[dropBoxMessage]="''"
  						[extensions]="['jpg','png','gif']"     
  						(isPending) = "disableSendButton($event)"
						(uploadFinished) = "imageUploaded($event)"
						(removed) = "imageRemoved($event)"
  						>
					</image-upload>
					<img src="{{ file_src }}" height="180px" width="200px" alt="this is student photo">
				</div>

				<div class="col-md-8">
					<div class="form-group">
						<label for="fullname" class="col-sm-4 control-label">Full name :</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="fullname" required maxlength="30" [(ngModel)]="profile.fullname" #fullname="ngModel">
							<div *ngIf="fullname.errors && (fullname.dirty || fullname.touched)" class="alert alert-danger">
							<div [hidden]="!fullname.errors.required">
								<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Fullname is required
							</div>
						</div>
						</div>

					</div>
					<div class="form-group">
						<label for="age" class="col-sm-4 control-label">Age :</label>
						<div class="col-sm-8">
							<input type="number" class="form-control" name="age" min="1" required max="100" [(ngModel)]="profile.age" #age="ngModel">
							<div *ngIf="age.errors && (age.dirty || age.touched)" class="alert alert-danger">
							<div [hidden]="!age.errors.required">
								<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Age is required
							</div>
						</div>
						</div>
					</div>
					<input type="hidden" [(ngModel)]="profile.photo" name="photo" #photo="ngModel">
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<button type="submit" class="btn btn-success" id="btn-save" [disabled]="!editProfileForm.form.valid">Update</button>
							<a class="btn btn-info" (click)="goBack()">Cancel</a>
							<div class="alert alert-success alert-dismissable" id="msg" style="display: none;"> </div>
						</div>
					</div>
				</div>	
			</form>
		</div>
	</div>
  </div> <!-- container -->
</div> <!-- home -->

