<div class="home">
  <div class="container-narrow">
    <div class="alert alert-success alert-dismissable" id="msg" style="display: none;"> </div>
    <div class="panel panel-success" *ngFor="let profile of profiles">
      <div class="panel-heading">
        <div class="col-md-8">
         <img src="{{profile.photo}}" alt="profile photo" height="50px" width="50px" /> {{profile.fullname}}
        </div>

        <div class="col-md-4">
          <button class="btn btn-primary" routerLink="/edit/{{profile.id}}" ><span class="glyphicon glyphicon-pencil"></span></button>
          <button class="btn btn-danger" (click)="deleteProfile(profile.id)"><span class="glyphicon glyphicon-trash"></span></button>
        </div>

      </div>
    </div>

  </div> <!-- container -->
</div> <!-- home -->


